* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Mono', monospace;
  background-color: #fff;
  color: #333333;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1440px;
  padding: 20px;
  flex-grow: 1;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  color: #4F4F4F;
}

h2 {
  font-size: 48px;
  margin: 20px 0;
}

p {
  font-size: 18px;
  color: #4F4F4F;
  margin-bottom: 40px;
}

.btn {
  padding: 10px 20px;
  background-color: #333333;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

footer {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #f8f9fa;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: #333;
}
